version: '3'
services:
  docker-vpn-smb:
    build: .
    ports:
      - 137:137/udp
      - 138:138/udp
      - 139:139
      - 445:445
    volumes:
      - ${LOCAL_SHARE_PATH}:/samba
    restart: "always"